  /* 左側購物車內容 */
  .cart-container {
    flex: 2;
    background-color: #fff;
    border-bottom: 1px solid var(--color-light-green);
  }
  
  .cart-title {
    font-size: var(--font-size-large);
    background-color: var(--color-light-green);
  }
  
  .cart-item {
    padding-top: 32px;
    padding-bottom: 20px;
  }
 
  .cart-item-image {
    width: 110px;
    height: 110px;
    margin-right: 39px;
  }
  
  .cart-item-name, .cart-item-total-price  {
    font-size: var(--font-size-medium);
    font-weight: bold;
  }
  
  .cart-item-price {
    font-size: var(--font-size-small);
    color: var(--color-dark-green);
    margin-top: 5px;
  }
  
  .cart-item-quantity {
    font-size: var(--font-size-small);
  }
  
  .quantity-btn, .quantity-number {
    background-color: var(--color-white) !important;
    border: 0.5px solid var(--color-light-green);
    padding: 5px 10px;
    font-size: var(--font-size-small);
    cursor: pointer;
  }
  
  .remove-item {
    background-color: var(--color-white) !important;
    border: none;
    cursor: pointer;
    font-size: var(--font-size-medium);
  }
  
  /* 右側訂單摘要 */
  .order-summary-container {
    flex: 1; /* 右側固定比例 */
    background-color: var(--color-white);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-shrink: 0; /* 固定高度不縮小 */
    height: 258px;
  }
  
  .summary-title {
    font-size: var(--font-size-large);
    color: var(--color-dark-green);
    font-weight: bold;
    border: none;
    background-color: var(--color-light-green);
  }
  
  .order-summary {
    color: var(--color-dark-green);
    font-size: var(--font-size-small);
  }
  .cart-item-image-container {
    width: 100%;
  }

  /* RWD 樣式 */
  @media (min-width: 576px) {
    .cart-item {
      border-bottom: 1px solid var(--color-light-green);
    }
    .cart-item-image-container {
      width: auto;
    }
    .order-summary-container {
      background-color: var(--color-dark-green);
      }
    .summary-title {
        font-size: var(--font-size-large);
        color: var(--color-light-green);
        font-weight: bold;
        border-bottom: 1px solid var(--color-light-green);
        background-color: var(--color-dark-green);
    }
    .order-summary {
        color: var(--color-light-green);
        font-size: var(--font-size-small);
    }
  }
  
  
  .summary-total {
    font-size: var(--font-size-medium);
    font-weight: bold;
  }
  
  .checkout-button {
    width: 100%;
    height: 65px;
    background-color: var(--color-yellow) !important;
    color: var(--color-dark-green);
    border: none;
    font-size: var(--font-size-large);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  