/* Header 樣式 */
.header {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-medium-green);
}

.headerlogo {
  width: 171px;
  height: 27px;
}

/* Banner 樣式 */
.bannerslogn {
  position: absolute;
  top: 10%;
  left: 75%;
  height: 219px;
  z-index: 2;
}

/* Sidebar 樣式 */
.sidebar-category {
  height: 65px;
  color: var(--color-white);
  background: var(--color-medium-green);
  text-align: center;
  line-height: 65px;
}

.sidebar li {
  padding: 16px 66px;
  color: var(--color-medium-green);
  font-size: var(--font-size-large);
  cursor: pointer;
  border: 1px solid var(--color-light-green);
}

.sidebar li.active {
  background-color: var(--color-light-green);
}

/* Content 樣式 */
.product-list {
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: var(--grid-columns-mobile);
}

.product-card {
  border: 1px solid var(--color-medium-green);
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  background-color: var(--color-white);
}

.product-category {
  background-color: var(--color-dark-green);
  color: var(--color-light-green);
  padding: 10px;
  writing-mode: vertical-rl; /* 將文字設為垂直方向（從右到左） */
  text-orientation: upright; /* 保持每個字直立 */
}

.product-image {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light-green);
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-name,
.product-price {
  font-size: var(--font-size-medium);
}

.add-to-cart {
  font-size: var(--font-size-large);
  background-color: var(--color-dark-green);
  color: var(--color-dark-green);
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.add-to-cart:active {
  background-color: var(--color-yellow) !important;
}

.cart-icon {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-icon:active {
  color: var(--color-yellow) !important;
}

/* Footer 樣式 */
.subscribe {
  background-color: var(--color-medium-green);
  color: var(--color-light-green);
  font-size: var(--font-size-large);
}

.subscribe-text {
  width: 375px;
}

.info {
  background-color: var(--color-light-green);
}

.info-icon > img {
  width: 32px;
  height: 32px;
}

.footerslogn {
  width: 59px;
  height: 219px;
}

.info-text {
  color: var(--color-dark-green);
  font-size: var(--font-size-small);
}

.info-copyright {
  margin-top: 46px;
  color: var(--color-dark-green);
  font-size: var(--font-size-small);
}

.footericon {
  height: 40px;
}

.footerlogo {
  width: 171px;
  height: 27px;
}

.input-group > span, button, input {
  border-radius: 0 !important; /* 覆蓋 Bootstrap 預設的 border-radius */
  border: 0;
  background-color: var(--color-light-green) !important;
}

.input-group-text {
  width: 315px;
}

.input-group-arrow {
  width: 64px;
  height: 56px;
  background-color: var(--color-yellow) !important;
}

.bannerimg {
  width: 375px;
  height: 277px;
}

/* RWD 样式 */
@media (min-width: 576px) {
  .product-list {
    grid-template-columns: var(--grid-columns-tablet);
  }

  .bannerimg {
    width: 940px;
    height: 496px;
  }

  .banner {
    margin: 30px 42px 60px;
  }

  .bannerslogn {
    position: absolute;
    top: 10%;
    left: 75%;
    height: 328px;
    z-index: 2;
  }

  .subscribe, .info {
    padding: var(--grid-foot-gap);
  }
}

@media (min-width: 961px) {
  .product-list {
    grid-template-columns: var(--grid-columns-desktop);
  }
}
